<ul class="breadcrumb">
	{{#link-to 'index'}}<li>Devs</li>{{/link-to}}
	{{#link-to 'user'}}<li>{{user.login}}</li>{{/link-to}}
	<li class="active">Repositories</li>
</ul>
<div class="repositories">
  {{#if model}}
	  {{#each model as |repo|}}
			<a href="{{repo.html_url}}" target="_blank">
		    <div>
		      {{repo.name}}
		      {{#if repo.fork}}
			      <aside>Fork</aside>
			    {{/if}}
			  </div>
			</a>
	  {{/each}}
	{{else}}
    <h3>No Repositories to show</h3>
	{{/if}}
</div>